<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="serviciosBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/servicios/servicios.php"
                binding="basicHttpBinding" bindingConfiguration="serviciosBinding"
                contract="ServiceReference1.serviciosPortType" name="serviciosPort" />
        </client>
    </system.serviceModel>
</configuration>